---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header {
  background: linear-gradient(to right, #007BFF, #FFD700); /* 青 → 黄 */
}

/* リンクの色を青に */
a {
  color: #222222; 
}

a:hover {
  color: #666666; 
}

h1{
  text-align: left;
  font-size: 2vh;
}

h2 {
  background-color: #FFD700;
  color: #eeeeee;
}

h3{
  color: #007BFF; /* ブルー */
}
