---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header {
  background-image: linear-gradient(to right, #007BFF, #FFD700); /* 青 → 黄 */
}

/* リンクの色を青に */
a {
  color: #007BFF; 
}

a:hover {
  color: #007bffb1; 
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6{
    color:#323232
}
.main-content h2{
  background-color: #bababa;
}

.project-name {
    font-size: 2.5em;
}