---
---

@import "{{ site.theme }}";


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header {
  background-image: linear-gradient(to right, #007BFF, #FFD700); /* 青 → 黄 */
}

/* リンクの色を青に */
a {
  color: #007BFF; 
}

a:hover {
  color: #001affc7; 
}

h2 {
  background-color: #cccccc;
  color: #222222;
}

h3{
  color: #222222; 
}
